@import '/modules/node_modules/@a1rth/css-normalize/index.css';

@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
	--black: #171718;
	--black-border: #26292d;
	--white: #fff;
	--purple: #5c62ec;
	--orange: rgb(254, 191, 44);

	--text-color: var(--black);
	--dark--bg: var(--black);
	--dark-border: var(--black-border);
	--header-text: var(--white);
	--accent: var(--purple);
}

body {
	font-family: 'DM Sans', sans-serif;
	letter-spacing: -0.5px;
	color: var(--text-color);
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

/* Навигация */
.nav {
	padding: 20px 0;
	background-color: var(--dark--bg);
	color: var(--header-text);
	border-bottom: 1px solid var(--dark-border);
}
.nav-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}
.logo {
	color: var(--header-text);
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}
.logo strong {
	font-weight: 700;
}
.nav-list {
	display: flex;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}
.nav-list__link {
	color: var(--header-text);
}
.nav-list__link--active {
	position: relative;
}
.nav-list__link--active::before {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	border-radius: 20px;
	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}
/* Header */
.header {
	padding: 40px 0;
	min-height: 695px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--dark--bg);
	color: var(--header-text);
	text-align: center;
}
.header__wrapper {
	padding: 0 15px;
	max-width: 660px;
}
.header__title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
}
.header__title strong {
	font-size: 60px;
	font-weight: 700;
}
.header__name {
	color: var(--accent);
	font-style: normal;
}
.header__text {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.333;
}
.header__text p + p {
	margin-top: 0.5em;
}
.btn {
	color: var(--white);
	display: inline-block;
	height: 48px;
	padding: 12px 28px;
	border-radius: 5px;
	background-color: var(--accent);
	letter-spacing: ;
}
/* .header__button {
	background-color: var(--accent);
	border: 1px solid var(--accent);
	border-radius: 5px;
	min-height: 48px;
	min-width: 160px;
} */
